<div class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <span class="icon"><i class="fas fa-utensils"></i></span> <%= merchant.name %>
      </h1>
    </div>
  </div>
</div>
<section class="section">
<% merchant.menu_items.each do |item| %>
  <article class="media">
    <div class="media-left">
      <p class="image is-64x64">
        <img src="https://placeimg.com/64/64/bacon?=<%= rand(100) %>%">
      </p>
    </div>
    <div class="media-content">
      <div class="content">
        <h6><%= item.name %></h6>
      </div>
    </div>
    <div class="media-right">
      <div class="content">
        <p><%= item.price.format %></p>
      </div>
    </div>
  </article>
<% end %>
</section>
