<section class="section">
  <div class="columns is-centered">
    <div class="column is-two-thirds">
      <h1 class="title"><span class="icon"><i class="fas fa-store"></i></span>&nbsp; Crea tu menú</h1>
      <%= render 'steps', step: 3 %>
      <div class="columns">
        <div class="column">
          <div class="columns is-mobile is-centered preview">
            <%= image_tag "iphone.png", class: 'phone-face' %>
            <div class="screen">
              <%= render 'preview', merchant: @merchant %>
            </div>
          </div>
        </div>
        <div class="column">
          <p class="title">¡Ya casi terminas!</p>
          <p class="subtitle">Solo crea tu cuenta y listo</p>
          <%= render "devise/registrations/form", resource: User.new, resource_name: :user %>
        </div>
      </div>
    </div>
  </div>
</section>
