<%= form_with(model: menu, url: builder_menu_path(menu)) do |f| %>
  <%= f.fields_for :items do |g| %>
    <%= render 'menu_item', f: g %>
  <% end %>

  <div class="control">
    <%= f.submit 'Vista previa', class: 'button is-primary is-medium' %>
  </div>
<% end %>
