<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to @merchant.name, merchant_path(@merchant) %></li>
    <li class="is-active"><a href="#">Crear producto</a></li>
  </ul>
</nav>
<h1 class="title">Crear producto</h1>
<div class="columns">
  <div class="column">
    <%= turbo_frame_tag :new_menu_item do %>
      <%= render 'form', menu_item: @menu_item, merchant: @merchant %>
    <% end %>
  </div>
</div>
