    <ul class="steps is-balanced">
      <li class="steps-segment">
        <span class="steps-marker"></span>
        <div class="steps-content">
          <p class="is-size-4">Step 1</p>
          <p>This is the first step, which means you start here.</p>
        </div>
      </li>
      <li class="steps-segment">
        <span class="steps-marker"></span>
        <div class="steps-content">
          <p class="is-size-4">Step 2</p>
          <p>This is the second step. Once you complete the first step, you will end up here.</p>
        </div>
      </li>
      <li class="steps-segment is-active">
        <span class="steps-marker"></span>
        <div class="steps-content">
          <p class="is-size-4">Step 3</p>
          <p>This is the third step. This is halfway between the start and the end.</p>
        </div>
      </li>
      <li class="steps-segment">
        <span class="steps-marker"></span>
        <div class="steps-content">
          <p class="is-size-4">Step 4</p>
          <p>The fourth step. Nearly there!</p>
        </div>
      </li>
      <li class="steps-segment">
        <span class="steps-marker"></span>
        <div class="steps-content">
          <p class="is-size-4">Step 5</p>
          <p>And finally the last step. You have successfully completed all 5 steps.</p>
        </div>
      </li>
    </ul>