    <ul class="steps has-content-centered">
      <li class="steps-segment <%= 'is-active' if step == 1 %>">
        <span class="steps-marker"></span>
        <div class="steps-content">
          <p class="is-size-4">Agrega tu marca</p>
          <!-- <p>This is the first step, which means you start here.</p> -->
        </div>
      </li>
      <li class="steps-segment <%= 'is-active' if step == 2 %>">
        <span class="steps-marker"></span>
        <div class="steps-content">
          <p class="is-size-4">Agrega tus productos</p>
          <!-- <p>This is the second step. Once you complete the first step, you will end up here.</p> -->
        </div>
      </li>
      <li class="steps-segment <%= 'is-active' if step == 3 %>">
        <span class="steps-marker"></span>
        <div class="steps-content">
          <p class="is-size-4">Crea tu cuenta</p>
          <!-- <p>This is the third step. This is halfway between the start and the end.</p> -->
        </div>
      </li>
    </ul>
