<section class="hero is-warning is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <i class="fas fa-utensils"></i> Bienvenido a menufacilito.com
      </h1>
      <h2 class="subtitle">
        La manera mas rapida y facil de crear menus digitales
      </h2>
    </div>
  </div>
</section>