<video autoplay muted loop id="landingVideo">
  <source src="https://res.cloudinary.com/hjvzgodea/video/upload/v1595112437/pasta_xhx4fg.mp4" type="video/mp4">
</video>
<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <h1 class="title is-2">
            <span class="icon"><i class="fas fa-utensils"></i></span> Menú Facilito
          </h1>
          <h2 class="subtitle">
            La manera mas <i>rapida</i> y <strong>facil</strong> de crear menús digitales
          </h2>
          <%= link_to "Comenzar", builder_path, class: 'button is-dark is-large' %>
        </div>
      </div>
    </div>
  </div>
</section>
