<section class="hero is-warning is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <h1 class="title is-2">
            <span class="icon"><i class="fas fa-utensils"></i></span> MenúFacilito
          </h1>
          <h2 class="subtitle">
            La manera mas <i>rapida</i> y <strong>facil</strong> de crear menús digitales
          </h2>
          <% if Rails.env.production? %>
          <p class="subtitle">
            Esperanos...
          </p>
          <% else %>
          <%= link_to "Comenzar", new_builder_merchant_path, class: 'button is-dark is-large' %>
          <% end %>
        </div>
      </div>
    </div>
</section>