<section class="hero is-fullheight">
  <div class="hero-body">
    <video autoplay muted loop id="landingVideo" class="is-hidden-touch" data-controller="async-video">
      <source data-target='async-video.source' data-url="https://res.cloudinary.com/hjvzgodea/video/upload/v1595112437/pasta_xhx4fg.mp4" type="video/mp4">
    </video>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <h1 class="title is-2">
            <span class="icon"><i class="fas fa-utensils"></i></span> Menú Facilito
          </h1>
          <h2 class="subtitle">
            La manera mas <i>rapida</i> y <strong>facil</strong> de crear menús digitales
          </h2>
          <%= link_to "Comenzar", builder_path, class: 'button is-dark is-large' %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <h1 class="title">Obtén ahora</h1>
  <br>
  <div class="columns">
    <div class="column">
      <div class="has-text-centered">
        <span class="icon has-text-primary"><i class="fas fa-hamburger fa-4x"></i></span>
        <h2 class="title">Tu menú online</h2>
        <h2 class="subtitle">Coloca tu marca en intenet</h2>
      </div>
    </div>
    <div class="column">
      <div class="has-text-centered">
        <span class="icon has-text-primary"><i class="fas fa-mobile-alt fa-4x"></i></span>
        <h2 class="title">Listo para el móvil</h2>
        <h2 class="subtitle">Sin la necesidad de instalar una aplicación</h2>
      </div>
    </div>
    <div class="column">
      <div class="has-text-centered">
        <span class="icon has-text-primary"><i class="fas fa-qrcode fa-4x"></i></span>
        <h2 class="title">Código QR</h2>
        <h2 class="subtitle">Comparte tu menú con tus clientes</h2>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="columns">
    <div class="column">
      <div class="has-text-centered">
        <span class="icon has-text-primary"><i class="fas fa-award fa-4x"></i></span>
        <h2 class="title">Totalmente Gratis</h2>
        <h2 class="subtitle">Sin límite de productos</h2>
      </div>
    </div>
    <div class="column">
      <div class="has-text-centered">
        <span class="icon has-text-primary"><i class="fas fa-palette fa-4x"></i></span>
        <h2 class="title">Personalizable</h2>
        <h2 class="subtitle">Agrega tu logo y colores</h2>
      </div>
    </div>
    <div class="column">
      <div class="has-text-centered">
        <span class="icon has-text-primary"><i class="fab fa-whatsapp fa-4x"></i></span>
        <h2 class="title">Órdenes vía Whatsapp</h2>
        <h2 class="subtitle">Recibe tus pedidos con whatsapp</h2>
      </div>
    </div>
  </div>
</section>
