<%= form_with(model: [merchant, section], data: { controller: "reset-form", action: "turbo:submit-start->reset-form#reset" }) do |f| %>
  <%= f.hidden_field :position %>
  <div class="field is-grouped">
    <div class="control is-expanded">
      <%= f.text_field :name, class: 'input', placeholder: 'Nombre' %>
    </div>

    <div class="control">
      <%= f.submit class: 'button is-primary' %>
    </div>
  </div>
<% end %>
