<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to @merchant.name, merchant_path(@merchant) %></li>
    <li class="is-active"><a href="#">Editar sección</a></li>
  </ul>
</nav>
<h1 class="title">Editar sección</h1>
<div class="columns">
  <div class="column is-half">
    <%= turbo_frame_tag "section" do %>
      <%= render 'form', section: @section, merchant: @merchant %>
    <% end %>
  </div>
</div>
