<% content_for(:title, @merchant.name) %>
<div class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @merchant.name %>
      </h1>
      <h2 class="subtitle">
        lorem ipsum dolor quet sit amet
      </h2>
    </div>
  </div>
</div>