<article class="media">
  <figure class="media-left">
  </figure>
  <div class="media-content">
    <h1 class="title"><%= link_to merchant.name, merchant_path(merchant) %></h1>
    <h2 class="subtitle">
      <%= link_to page_path(merchant) do %>
      <span class="icon"><i class="fa fa-link"></i></span>
      <% end %>
      <%= link_to page_url(merchant, format: :png), target: '_blank' do %>
      <span class="icon"><i class="fas fa-qrcode"></i></span>
      <% end %>
      <% if merchant.delivery %>
      <span class="icon"><i class="fas fa-truck"></i></span>
      <% end %>
    </h2>
    <div class="content">
    </div>
  </div>
</article>
