<div class="columns">
  <div class="column is-one-fifth-widescreen is-one-fourth-desktop is-one-third-tablet">
    <%= render @merchant %>
  </div>
  <div class="column">
    <div class="level">
      <div class="level-left">
        <h1 class="title">Menú</h1>
      </div>
      <div class="level-right">
        <%= link_to new_merchant_menu_item_path(merchant), class: 'button is-success' do %>
        <span class="icon">
          <i class="fa fa-plus"></i>
        </span>
        <span> Agregar producto</span>
        <% end %>
      </div>
    </div>
    <div data-controller="sortable" data-sortable-url="<%= sort_merchant_menu_items_path(merchant)%>">
      <%= render merchant.menu_items, merchant: merchant %>
    </div>
  </div>
</div>
