<div class="section" data-controller="merchant-stats" data-merchant-stats-url-value="<%= api_merchant_stats_path(merchant) %>" >
  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Secciones</p>
        <p class="title" data-merchant-stats-target="sections"></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Productos</p>
        <p class="title" data-merchant-stats-target="products"></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Ordenes</p>
        <p class="title" data-merchant-stats-target="orders"></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Transacciones de este mes</p>
        <p class="title" data-merchant-stats-target="transactions"></p>
      </div>
    </div>
  </nav>
</div>
