<div class="columns is-centered">
  <div class="column is-two-thirds">
    <h1 class="title"><span class="icon"><i class="fas fa-store"></i></span>&nbsp; Crea tu menú</h1>
    <%= render 'steps', step: 1 %>
    <%= render 'form', merchant: @merchant %>
  </div>
</div>
