.preview {
  min-height: 700px;
  nav {
    visibility: hidden;
  }
  .control, input { display: none; }

  img.phone-face {
    position: absolute;
    width: 340px;
  }
  .screen {
    width: 310px;
    padding: 15px 3px;
    .menu {
      padding: 10px;
    }
  }
}
