<section class="section columns is-centered">
  <div class="column is-half-desktop">
    <div class="level no-print">
      <div class="level-left">
        <h1 class="title level-item"><span class="icon"><i class="fas fa-utensils"></i></span> <span></span> MenúFacilito</h1>
      </div>
      <div class="level-right">
        <a class="button is-primary is-outlined" href="#" onclick="window.print();return false;">
          <span class="icon is-small"><i class="fa fa-print"></i></span> <span>Imprimir</span>
        </a>
      </div>
    </div>
    <% 2.times do %>
    <div class="columns">
      <% 2.times do %>
      <div class="column">
        <div class="card box">
          <div class="card-image has-text-centered">
            <figure class="image"><%= image_tag merchant_code_url(@merchant, format: :png) %></figure>
          </div>
          <div class="card-content">
            <div class="media columns is-vcentered">
              <% if @merchant.logo_attached? %>
              <div class="media-left">
                <figure class="image is-128x128">
                  <%= image_tag safe_variant(@merchant.logo, resize_to_fill: [256, 256]) %>
                </figure>
              </div>
              <% end %>
              <div class="media-content">
                <h1 class="title is-4"><%= @merchant.name %></h1>
                <p class="subtitle is-6">Menú en linea</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</section>
